<body>
  <div class="container">
    <div class="service_area">
      <div class="row">
        <div class="col-lg-4">
          <div class="service_block">
            <div class="service_icon delay-03s animated wow  zoomIn"> <span><i class="fa fa-hand-peace-o"></i></span> </div>
            <h3 class="animated fadeInUp wow">Plan basico</h3>
            <p class="animated fadeInDown wow" style="color: black"><strong>Utiliza nuestros servicios durante dos meses.</strong></p>
            <p class="animated fadeInDown wow" style="color: black"> <strong>$5.500</strong></p>
            <br>
            <p class="animated fadeInDown wow"><%=link_to "Elegir",new_payment_path(:plan_id =>1),class: "button3"%></p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service_block">
            <div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><i class="fa fa-rocket"></i></span> </div>
            <h3 class="animated fadeInUp wow">Plan Intermedio</h3>
            <p class="animated fadeInDown wow" style="color: black"><strong>Aprovecha 6 meses de suscripción en nuestra pagina.</strong></p>
            <p class="animated fadeInDown wow" style="color: black"><strong>$15.000</strong></p>
            <br>
            <p class="animated fadeInDown wow"><%=link_to "Elegir",new_payment_path(:plan_id =>2),class: "button3"%></p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service_block">
            <div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="fa fa-star-o"></i></span> </div>
            <h3 class="animated fadeInUp wow">Plan Full</h3>
            <p class="animated fadeInDown wow" style="color: black"><strong>Disfruta de nuestra pagina durante 12 meses</strong></p>
            <p class="animated fadeInDown wow" style="color: black"><strong>$25.000</strong></p>
            <br>
            <p class="animated fadeInDown wow"><%=link_to "Elegir",new_payment_path(:plan_id => 3),class: "button3"%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>