  <div class="form-control">
    <%@payments.each do |pago|%>

      <%=pago.id%>
      <%=pago.tiempo_termino%>
    <%end%>
    <div style="text-align: center; padding-top: 1cm">
  <%= link_to "Volver", profesionales_path, class: "buttoncute"%>
	</div>

  </div>