<p id="notice"><%= notice %></p>
<div style="text-align: center;">

<h1>Respuestas recibidas</h1>
</div>

<div class ="container">
<div class="form-control">

<table>
  <thead>
    <tr>
      <th>Area</th>
      <th>Sector</th>
      <th>Descripcion</th>
      <th>Estado</th>
      <th>Tiempo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @respuestas.each do |respuesta| %>
      <tr>
        <td><%= respuesta.fecha %></td>
        <td><%= respuesta.answer_cotiza %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>


<div class="wrapper" style="text-align: center">


<%= link_to "  Volver  ", :back, class: "buttoncute" %>
</div>
</div>
