<h1>Editing Calificacion</h1>

<%= render 'form', calificacion: @calificacion %>

<%= link_to 'Show', client_calificacions_path(id: current_client.id) %> |
<%= link_to 'Back', client_calificacions_path %>
