<div style="text-align: center">
<h1 style="color: red"><strong>Calificacion</strong></h1>
</div>

<%= render 'form', calificacion: @calificacion %>

<div style="text-align: center;">

<%= link_to 'Back', clientes_path, class: "buttoncute"%>

</div>