<div style="text-align: center">
<h1>Calificacion</h1>
</div>

<%= render 'form', calificacion: @calificacion %>

<div style="text-align: center;">

<%= link_to 'Back', client_calificacions_path, class: "buttoncute"%>

</div>