//= require activeadmin_addons/all
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "active_skin";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
#header h1.site_title {
  text-indent: 0%;
  padding-left: 30px;
img {
    height: 70px;
    margin-top: 0px;
  }
}
$kinLogo: none;
$skinActiveColor: #40AA52;
$skinHeaderBck: #194320;
$panelHeaderBck: #F9BB13;