// Place all the styles related to the paginaclients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.buttonsombra {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #00FF00;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.buttonsombra:hover {background-color: #088A08}

.buttonsombra:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}